

h1 {
  font-family: "Quattrocento", Helvetica, Arial, Lucida, sans-serif;
}

h2,
h3,
.next-button,
.previous-button,
.reset-button, .spec-text, .spec-text20, .spec-text15 {
  font-family: "Quattrocento Sans", Helvetica, Arial, Lucida, sans-serif;
}

// Creates the box for the product to sit in.
.product-option {
  text-align: center;
  margin: 1.2em;
  color: #333;
  padding: 20px;
  line-height: 1em;
  font-weight: 500;
  border-radius: 5px;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 12px 8px -15px rgba(0,0,0,0.3);
  overflow: hidden;
  max-width: 250px;
  height: 100%;

}

@media screen and (max-width: 600px) {
  .product-option {
  text-align: center;
  margin: 1.2em;
  color: #333;
  padding: 20px;
  line-height: 1em;
  font-weight: 500;
  border-radius: 5px;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 12px 8px -15px rgba(0,0,0,0.3);
  max-width: 250px;
  height: 100%;
  overflow: visible;
  }
}


.product-option:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 600px) {
.product-option:hover {
  transform: scale(1)
}
}

.product-option > h3 { 
  text-align: center;
  margin: 0 0 20px 0;
  color: #333;
  line-height: 1em;
  font-weight: 500;
}

.section-title, .spec-title {
  font-family: "Quattrocento", Helvetica, Arial, Lucida, sans-serif;
  font-size: 30px;
  color: #333;
  padding: 20px 0;
  line-height: 1em;
  font-weight: 500;
  margin: 0px;
}

.selected-option {
  overflow: hidden;
  box-shadow: 0 0 0 4px #f6c570;
}

.invisible-option {
  display: none;
}

.section-button {
  width: 33%;
  text-align: center;
}

.section-button-center {
  width: 75%;
  text-align: center;
  margin: auto;
  padding: 10px 0;
}

.next-button,
.previous-button,
.reset-button {
  padding: 0.3em 1em;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}

.reset-button,
.previous-button {
  border-width: 2px;
  border-color: #303960;
  border-radius: 5px;
  color: #303960;
  background-color: #eaebef;
}

.next-button {
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: #303960;
}

#product-chooser-body {
  background-color: #eaebef;
}

a.next-button {
  text-decoration: none;
}

.section-footer {
  display: flex;
  margin-top: 15px;
}

// Sets the containing div for .product-option
.option-set {
  display: flex;
  justify-content: space-evenly;
}


.spec-image {
  display: block;
  width: 40%;
  max-width: 100%;
  height: 200px;
}

.spec-image-final {
  display: block;
  width: 40%;
  max-width: 100%;
  height: 333px;
}

.spec-text-container {
  display: block;
  width: 60%;
  max-width: 100%;
  height: 333px;
}

.spec-text {
  margin: 1.1em;
}

.spec-text15 {
  line-height: 1.4em;
  font-size: 15px;
}

.spec-text20 {
  line-height: 1.4em;
  font-size: 20px;
}

.product-chooser-root {
  width: 80%;
  height: 100%;
  margin: auto;
}

@media screen and (max-width: 600px) {
.product-chooser-root {
  width: 100%;
  height: 100%;
  margin: auto;
}
}

html,
body,
#product-chooser-body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.progress-bar {
  display: block;
  width: 90%;
  height: 30px;
  margin: auto;
  padding: 20px 0;
}

.spec-image-final > .product-image {
  height: auto;
  margin: auto;
}

.product-image {
  height: 200px;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .product-image {
    height: 200px;
    margin: auto;
    max-width:200px !important;
  }
}

.container-mobile-scroll {
  display: flex;
  overflow-x: scroll;
}